@import url("https://fonts.googleapis.com/css?family=Montserrat");

.container {
  height: 50vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  width: 40%;
  font-size: 24px;
  margin: 100px 10px;
  border: 1px solid #e3e3e3;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

